Makefile
/.idea/
*.tgz
/coverage/
/test/
/update.sh
/update-badge.js
/test.sh
/update-badge.sh
/.travis.yml
/package.travis.json
/server.js
/yarn.lock
node_modules
/travis.sh
/controller/
/test/public/
/trash/
/bash/
swappackagejson.sh